{% extends 'base.html' %}
{% block content %}
<h1 class="mt-4 mb-4">Job Application Form</h1>

<form method="post">
    {% csrf_token %}
    <div class = "form-group mb-4">
        <label for="first_name_input">First Name : </label>
        <input class="form-control" type="text" id="first_name_input" name="first_name">
    </div>
    <div class = "form-group mb-4">
        <label for="last_name">Last Name : </label>
        <input class="form-control" type="text" id="last_name" name="last_name">
    </div>
    <div class = "form-group mb-4">
        <label for="email">Email : </label>
        <input class="form-control" type="email" id="email" name="email">
    </div>
    <div class = "form-group mb-4">
        <label for="date">Available date</label>
        <input class="form-control" type="date" id="date" name="date">
    </div>

    <div class = "form-group mb-4">
        <label>Current occupation</label>
        <br>
        <div class="btn-group-vertical" id="employment">
            <input class="btn-check form-control" type="radio" id="employed" name="employment">
            <label class="btn btn-outline-secondary" for="employed">Employed  </label>

            <input class="btn-check form-control" type="radio" id="unemployed" name="employment">
            <label class="btn btn-outline-secondary" for="unemployed">Unemployed </label>

            <input class="btn-check form-control" type="radio" id="student" name="employment">
            <label class="btn btn-outline-secondary" for="student">Student  </label>

            <input class="btn-check form-control" type="radio" id="self-employed" name="employment">
            <label class="btn btn-outline-secondary" for="self-employed">Self-Employed  </label>
        </div>
    </div>
    <button class="btn btn-secondary mb-4" type="submit">Submit</button>

    {% if messages %}
    <div class="alert alert-success">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </div>
    {% endif %}



</form>

{% endblock %}